{% extends "page.html" %} {% block subtitle %}{{ _("Welcome") }}{% endblock %} {% block maintag %}{%
endblock %} {% block toolbar %}{% endblock %} {% block content %}
<div class="siteInnerWrapper container about-opendata">
	
	<p>Deutschland</p>

	<p>GOVDATA - Das Datenportal für Deutschland</p>
	<a href="https://www.govdata.de/" target="_blank">https://www.govdata.de/</a>

	<p>Studie "Open Government Data Deutschland" im Auftrag des Bundesministerium des Innern</p>
	<a href="https://www.bmi.bund.de/SharedDocs/Downloads/DE/Themen/OED_Verwaltung/ModerneVerwaltung/opengovernment.pdf" target="_blank">Link zur Studie</a>

	<p>Verwaltungsdaten für Jedermann - Bundesministeriun des Inneren (BMI)</p>
	<a href="http://www.bmi.bund.de/DE/Nachrichten/Dossiers/OpenData/opendata_node.html" target="_blank">http://www.bmi.bund.de/DE/Nachrichten/Dossiers/OpenData/opendata_node.html</a>

	<p>Open Knowledge Foundation Deutschland</p>
	<a href="https://okfn.de/" target="_blank">https://okfn.de/</a>

	<p>Code for Germany</p>
	<a href="http://codefor.de/">http://codefor.de/</a>
	
	<p>Open Data auf Wikipedia</p>
	<a href="https://de.wikipedia.org/wiki/Open_Data" target="_blank">https://de.wikipedia.org/wiki/Open_Data</a>

	<p>Open Data Projekte aus Deutschland, Europa und der Welt</p>
	<a href="http://opendata-showroom.org/de/" target="_blank">http://opendata-showroom.org/de/</a>

	<p>Open Data Studie - Das volkswirtschaftliche Potenzial für Deutschland (Konrad-Adenauer-Stiftung)</p>
	<a href="http://www.kas.de/wf/doc/kas_44906-544-1-30.pdf?160418125028" target="_blank">Link zur Studie</a>

	<p>NRW</p>

	<p>Open NRW</p>
	<a href="https://open.nrw/de/" target="_blank">https://open.nrw/de/</a>

	<p>Offene Kommunen.NRW</p>
	<a href="http://oknrw.de/" target="_blank">http://oknrw.de/</a>

	<p>Open NRW bei Twitter</p>
	<a href="https://twitter.com/opennrw" target="_blank">https://twitter.com/opennrw</a>

	<p>Welche Kommunen in NRW besitzen ein Open Data-Portal?</p>
	<a href="https://www.govdata.de/daten/-/details/opendatalandkartenrw" target="_blank">https://www.govdata.de/daten/-/details/opendatalandkartenrw</a>

	<p>open:ruhr - Offene Daten für das Ruhrgebiet</p>
	<a href="https://openruhr.de/" target="_blank">https://openruhr.de/</a>

	<p>Europa</p>

	<p>Offenes Datenportal der Europäischen Union</p>
	<a href="http://open-data.europa.eu/" target="_blank">http://open-data.europa.eu/de/data/</a>

	<p>Europäisches Datenportal</p>
	<a href="http://www.europeandataportal.eu/de/" target="_blank">http://www.europeandataportal.eu/de/</a>


	<p>International</p>

	<p>Weltweite Karte von Open Data-Portalen</p>
	<a href="https://opendatainception.io/" target="_blank">https://opendatainception.io/</a>

	<p>Liste von Open Data-Portalen weltweit</p>
	<a href="http://dataportals.org/" target="_blank">http://dataportals.org/</a>

	<p>Offene Daten der US-Regierung</p>
	<a href="http://www.data.gov/" target="_blank">http://www.data.gov/</a>

	<p>Open Data Sektion der Weltbank</p>
	<a href="http://www.trendradar.org/de/case/weltbank-open-data/" target="_blank">http://www.trendradar.org/de/case/weltbank-open-data/</a>

	<p>Offene Daten der US-Regierung</p>
	<a href="http://www.data.gov/" target="_blank">http://www.data.gov/</a>
</div>


{% endblock %}