:root {
  --color-primary-900: 215.5 100% 34.5%;
  --color-primary-800: 215.5 76.1% 41%;
  --color-primary-700: 215.3 58% 47.6%;
  --color-primary-600: 215.6 52.8% 54.3%;
  --color-primary-500: 215.7 53% 60.8%;
  --color-primary-400: 215.5 53% 67.5%;
  --color-primary-300: 215.1 52.2% 73.7%;
  --color-primary-200: 215.8 52% 80.4%;
  --color-primary-100: 216 52.2% 86.9%;
  --color-primary-50: 233 27% 94%;
}
